@import "base.less";
@import "palette.less";
@import "font.less";

body {
    font-family: 'Azo Sans', sans-serif;
    display    : flex;
    margin     : auto;
}

// views
@import "view/layout.less";
@import "view/home.less";
@import "view/link-wallet-to-discord.less";