/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  font-family: 'Azo Sans Tn';
  src: local('Azo Sans Thin'), local('AzoSans-Thin'), url('fonts/AzoSans-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Azo Sans';
  src: local('Azo Sans Regular'), local('AzoSans-Regular'), url('fonts/AzoSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Azo Sans Bk';
  src: local('Azo Sans Black'), local('AzoSans-Black'), url('fonts/AzoSans-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Azo Sans Md';
  src: local('Azo Sans Medium'), local('AzoSans-Medium'), url('fonts/AzoSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Azo Sans Lt';
  src: local('Azo Sans Light'), local('AzoSans-Light'), url('fonts/AzoSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Azo Sans';
  src: local('Azo Sans Bold'), local('AzoSans-Bold'), url('fonts/AzoSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: 'Azo Sans', sans-serif;
  display: flex;
  margin: auto;
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.dialogue.alert {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: auto;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 20px;
}
.dialogue.alert > .content {
  display: flex;
  flex-direction: column;
  font-family: 'Azo Sans Md';
}
.dialogue.alert > .content > h6 {
  font-size: 24px;
  font-weight: bold;
}
.dialogue.alert > .content > p {
  font-family: 'Azo Sans Tn';
  margin-top: 12px;
  line-height: 1.3;
}
.dialogue.alert > .button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}
.dialogue.alert > .button-container > button {
  font-family: 'Azo Sans Md';
  background-color: #43bdfd;
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
}
.dialogue.alert > .button-container > button:hover {
  background-color: rgba(67, 189, 253, 0.9);
}
.dialogue.alert > .button-container > button:active {
  background-color: rgba(67, 189, 253, 0.8);
}
.dialogue.confirm {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: auto;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 20px;
}
.dialogue.confirm > .content {
  display: flex;
  flex-direction: column;
  font-family: 'Azo Sans Md';
}
.dialogue.confirm > .content > h6 {
  font-size: 24px;
  font-weight: bold;
}
.dialogue.confirm > .content > p {
  font-family: 'Azo Sans Tn';
  margin-top: 12px;
  line-height: 1.3;
}
.dialogue.confirm > .button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}
.dialogue.confirm > .button-container > button {
  font-family: 'Azo Sans Md';
  background-color: #43bdfd;
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
}
.dialogue.confirm > .button-container > button:hover {
  background-color: rgba(67, 189, 253, 0.9);
}
.dialogue.confirm > .button-container > button:active {
  background-color: rgba(67, 189, 253, 0.8);
}
.dialogue.prompt {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: auto;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 20px;
}
.dialogue.prompt > .content {
  display: flex;
  flex-direction: column;
  font-family: 'Azo Sans Md';
}
.dialogue.prompt > .content > h6 {
  font-size: 24px;
  font-weight: bold;
}
.dialogue.prompt > .content > p {
  font-family: 'Azo Sans Tn';
  margin-top: 12px;
  line-height: 1.3;
}
.dialogue.prompt > .button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}
.dialogue.prompt > .button-container > button {
  font-family: 'Azo Sans Md';
  background-color: #43bdfd;
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
}
.dialogue.prompt > .button-container > button:hover {
  background-color: rgba(67, 189, 253, 0.9);
}
.dialogue.prompt > .button-container > button:active {
  background-color: rgba(67, 189, 253, 0.8);
}
.layout {
  width: 100%;
}
.layout > header {
  display: flex;
  justify-items: center;
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  z-index: 3;
  opacity: 1;
  transition: all 0.5s ease;
  transition-delay: 1s;
}
.layout > header > .nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: auto;
  padding: 0px 50px;
}
.layout > header > .nav > .logo {
  flex-grow: 1;
}
.layout > header > .nav > .logo > h1 > img {
  height: 40px;
}
.layout > header > .nav > .menu-btn,
.layout > header > .nav .menu-icon {
  display: none;
}
.layout > header > .nav > .menu {
  display: flex;
  gap: 8px;
}
.layout > header > .nav > .menu > .item {
  display: flex;
  float: left;
  font-weight: 300;
}
.layout > header > .nav > .menu > .item > a {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 4px 8px;
  text-decoration: none;
  color: #fff;
  background-color: #63B2FD;
  border-radius: 4px;
  font-size: 21px;
}
.layout > header > .nav > .menu > .item > a:hover {
  background-color: #5389F4;
}
.layout > header > .nav > .menu > .item > a > img {
  height: 30px;
}
.layout > header > .nav > .menu > .artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 8px;
}
.layout > header > .nav > .menu > .artist > a {
  display: block;
  color: #63B2FD;
  text-decoration: none;
}
.layout > header > .nav > .menu > .artist > a:hover {
  color: #5389F4;
}
@media only screen and (max-width: 719px) {
  .layout > header > .nav {
    display: none;
  }
  .layout > header > .nav > .menu-btn {
    display: none;
  }
  .layout > header > .nav > .menu-btn:checked ~ .menu {
    display: block;
    max-height: 52px;
  }
  .layout > header > .nav > .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .layout > header > .nav > .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .layout > header > .nav > .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .layout > header > .nav > .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .layout > header > .nav > .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  .layout > header > .nav > .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 8px;
    position: relative;
    user-select: none;
  }
  .layout > header > .nav > .menu-icon > .navicon {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  .layout > header > .nav > .menu-icon .navicon:before,
  .layout > header > .nav > .menu-icon .navicon:after {
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .layout > header > .nav > .menu-icon .navicon:before {
    top: 5px;
  }
  .layout > header > .nav > .menu-icon .navicon:after {
    top: -5px;
  }
  .layout > header > .nav > .menu {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  .layout > header > .nav > .menu > .item {
    display: block;
    width: 100%;
    background-color: transparent;
  }
  .layout > header > .nav > .menu > .item > a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }
  .layout > header > .nav > .menu > .item > a:hover {
    color: black;
    background-color: #333332;
  }
  .layout > header > .nav > .menu > .item > button {
    margin: 0px 20px;
  }
}
.layout > main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.layout > footer {
  position: absolute;
  bottom: 0;
  right: 50px;
}
.layout > footer > .artist {
  display: flex;
  gap: 16px;
}
.layout > footer > .artist > a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  background-color: #63B2FD;
  padding: 8px;
}
.layout > footer > .artist > a:hover {
  color: #5389F4;
}
.home-view {
  position: relative;
}
.home-view > .overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/images/img/home-bg.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.home-view > .tweets {
  border: solid 0.5px;
  border-radius: 4px;
  position: absolute;
  top: 100px;
  right: 17%;
  max-width: 280px;
}
.home-view > .banner-container {
  position: absolute;
  top: 100px;
  right: 5%;
  max-width: 280px;
}
.home-view > .banner-container > .notice-container > .embla,
.home-view > .banner-container .event-container > .embla {
  overflow: hidden;
}
.home-view > .banner-container > .notice-container > .embla > .embla__container,
.home-view > .banner-container .event-container > .embla > .embla__container {
  display: flex;
}
.home-view > .banner-container > .notice-container > .embla > .embla__container > .embla__slide,
.home-view > .banner-container .event-container > .embla > .embla__container > .embla__slide {
  position: relative;
  flex: 0 0 100%;
}
.home-view > .banner-container > .notice-container > .embla > .embla__container > .embla__slide > img,
.home-view > .banner-container .event-container > .embla > .embla__container > .embla__slide > img {
  max-width: 280px;
  border-radius: 4px;
}
.home-view > .banner-container > .event-container > img {
  max-width: 280px;
  border-radius: 4px;
}
.link-wallet-to-discord-view {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.link-wallet-to-discord-view > .overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/images/img/link-wallet-to-discord-bg.png") center no-repeat;
  background-size: cover;
  opacity: 0.7;
  width: 100%;
  height: 100vh;
}
.link-wallet-to-discord-view > section {
  position: absolute;
  top: 300px;
  left: 100px;
  padding: 64px;
}
.link-wallet-to-discord-view > section > header {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}
.link-wallet-to-discord-view > section > header > img {
  width: 720px;
  margin-bottom: 16px;
}
.link-wallet-to-discord-view > section > article {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 16px;
  padding: 50px;
}
.link-wallet-to-discord-view > section > article > h1 {
  font-size: 50px;
  font-weight: bold;
}
.link-wallet-to-discord-view > section > article > img {
  max-width: 30%;
  transform-origin: 50% 50%;
  margin: 2rem;
}
@media only screen and (max-width: 719px) {
  .link-wallet-to-discord-view > section > article > img {
    max-width: 50%;
  }
}
.link-wallet-to-discord-view > section > article > p {
  margin: 16px;
}
.link-wallet-to-discord-view > section > article > a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 64px;
  border-radius: 8px;
  margin-top: 32px;
  color: white;
  font-size: 20px;
  font-family: 'Azo Sans Md';
  text-decoration: none;
  background-color: #43bdfd;
}
.link-wallet-to-discord-view > section > article > a:hover {
  transition: all ease-in-out 300ms;
  background-color: rgba(67, 189, 253, 0.9);
}
.link-wallet-to-discord-view > section > article > a:active {
  transition: all ease-in-out 300ms;
  background-color: rgba(67, 189, 253, 0.8);
}

